[submodule "librt/libclang"]
	path = librt/libclang
	url = https://github.com/Meulengracht/compiler-rt
[submodule "librt/libacpi"]
	path = librt/libacpi
	url = https://github.com/Meulengracht/acpica
[submodule "librt/libgracht"]
	path = librt/libgracht
	url = https://github.com/meulengracht/libgracht
